@import "tailwindcss";
@plugin "daisyui";

a.active {
  @apply bg-slate-800 text-white
}

.admin-link {
  @apply flex items-center gap-3 px-4 py-3 rounded-xl font-medium text-gray-700 hover:bg-gray-200 transition;
}

.admin-link.active {
  @apply bg-blue-600 text-white shadow;
}


.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}